<div ng-controller="DashboardController" ng-init="init()">
    <span class="pull-right"><a href="#/login">Logout</a></span>
    <div ng-show="error" class="alert alert-info">
        <p>No messages to show. Did you execute the command create_messages?</p>
        <code>java -jar target\message-processor-1.0-SNAPSHOT.jar create_messages config.yml</code>
        <p>Do it and then click on Refresh button.</p>
    </div>
    <button class="btn reload" 
        ng-click="loadData()">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
    </button>
    <ad-table-lite table-name="tradeMessages" 
        enable-column-search="true" 
        column-definition="messagesColumnDefinition" 
        local-data-source="models.messages" 
        page-size="5" 
        page-sizes="[5, 10]" 
        pagination-btn-group-classes="pagination pagination-sm" 
        table-classes="table table-bordered" 
        on-click-sort-direction="DEC" 
        items-not-found-message="Messages Not Found." 
        search-text="models.searchText" 
        initial-sort-key="id" 
        initial-sort-direction="DEC" 
        row-expand-template="views/moreInfo.html">
    </ad-table-lite>
    <span class="divider"></span>
    <h4>Most Bought Currencies Top 10</h4>
    <nvd3 options="optionsMostBought" data="dataMostBought"></nvd3>
    <span class="divider"></span>
    <h4>Most Sold Currencies Top 10</h4>
    <nvd3 options="optionsMostSold" data="dataMostSold"></nvd3>
    <span class="divider"></span>
    <h4>Active Users Top 5</h4>
    <nvd3 options="optionsActiveUsers" data="activeUsers"></nvd3>
    <span class="divider"></span>
    <h4>Active Countries Top 5</h4>
    <nvd3 options="optionsActiveCountries" data="activeCountries"></nvd3>
</div>
