<div>
	<p><strong>Id: </strong>{{ item.id }}</p>
    <p><strong>User id: </strong>{{ item.userId }}</p>
    <p><strong>Currency from: </strong>{{ item.currencyFrom }}</p>
    <p><strong>Currency to: </strong>{{ item.currencyTo }}</p>
    <p><strong>Amount sell: </strong>{{ item.amountSell }}</p>
    <p><strong>Amount buy: </strong>{{ item.amountBuy }}</p>
    <p><strong>Rate: </strong>{{ item.rate }}</p>
    <p><strong>Time placed: </strong>{{ item.timePlaced }}</p>
    <p><strong>Originating country: </strong>{{ item.originatingCountry }}</p>
</div>
